<footer class="center">
  <div class="footer-icons">
    {{#footer.icons}}
    <a href="{{ link }}" class="icon-link">
      <img src="{{ src }}" alt="{{ alt }}" />
    </a>
    {{/footer.icons}}
  </div>
  <p class="copyright">Copyright &copy; The Weboratory All Rights Reserved</p>
</footer>
