<section id="watches" class="section-4 center">
  <div class="watches center">
    <div class="watch-bands center">
      {{#section4.watchbands}}
      <img src="{{ src }}" alt="{{ alt }}" class="watch-band-img" />
      {{/section4.watchbands}}
    </div>
    <div class="watch-cases center">
      {{#section4.watchcases}}
      <img src="{{ src }}" alt="{{ alt }}" class="watch-case-img" />
      {{/section4.watchcases}}
    </div>
  </div>
  <a href="" class="watch-control watch-top-control center">
    <i class="fas fa-angle-up"></i>
  </a>
  <a href="" class="watch-control watch-right-control center">
    <i class="fas fa-angle-right"></i>
  </a>
  <a href="" class="watch-control watch-bottom-control center">
    <i class="fas fa-angle-down"></i>
  </a>
  <a href="" class="watch-control watch-left-control center">
    <i class="fas fa-angle-left"></i>
  </a>

  <button class="watch-btn">Buy Now</button>
</section>
