<section id="best-gift" class="section-1">
    {{> apple/partials/logo}}
    {{> apple/navbar}}
    {{> apple/partials/cube}}
    <div class="section-1-banner center">
        <h1>&#8592; {{section1.banner.heading}}</h1>
        <p>{{section1.banner.paragraph}}</p>
        <span>{{section1.banner.span}}</span>
        <button type="button">{{section1.banner.button}}</button>
    </div>
    {{> apple/partials/slideshow}}
</section>
