<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Showcase || Creative Design</title>
    <link
      rel="stylesheet"
      href="/static/css/creative/style.css"
      type="text/css"
    />
    {{> creative/css/navbar}}
    {{> creative/css/section-1}}
    {{> creative/css/section-2}}
    {{> creative/css/section-3}}
    {{> creative/css/section-4}}
    {{> creative/css/footer}}
    {{> creative/css/scroll-to-top}}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      {{> creative/section-1}}
      {{> creative/section-2}}
      {{> creative/section-3}}
      {{> creative/section-4}}
      {{> creative/footer}}
      {{> creative/scroll-to-top}}
      {{> creative/scripts/section-3}}
    </div>
  </body>
</html>
