<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Showcase || Foods</title>
    <link rel="stylesheet" href="/static/css/foods/style.css" type="text/css" />
    {{> foods/css/navbar}}
    {{> foods/css/section-1}}
    {{> foods/css/section-2}}
    {{> foods/css/gallery}}
    {{> foods/css/footer}}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{> foods/navbar}}
    {{> foods/section-1}}
    {{> foods/section-2}}
    {{> foods/gallery}}
    {{> foods/footer}}
    {{> foods/scripts/section-1}}
    {{> foods/scripts/navbar}}
  </body>
</html>
