.footer {
    width: 100%;
    height: 12rem;
    background-color: #202122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

.footer-nav a {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
    color: #ccc;
    margin-right: 3rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #862323;
}

.copyright {
    font-size: 2rem;
    color: #ddd;
}

@media(max-width: 900px) {
    .footer {
        padding: 0 5rem;
    }

    .footer-nav a {
        font-size: 1.8rem;
    }
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }

    .footer-nav {
        margin-bottom:  2rem;
    }


}
