<div class="cube-wrapper">
  <div class="cube">
    <div class="front-side">
      <img
        src="{{ section1.cube.frontSide.url }}"
        alt="{{ section1.cube.frontSide.alt }}"
      />
    </div>
    <div class="back-side center">
      <i class="fab fa-apple"></i>
    </div>
  </div>
  <div class="controls">
    <a href="" class="top-x-control">
      <i class="fas fa-arrow-up"></i>
    </a>
    <a href="" class="bottom-x-control">
      <i class="fas fa-arrow-down"></i>
    </a>
    <a href="" class="left-y-control">
      <i class="fas fa-arrow-left"></i>
    </a>
    <a href="" class="right-y-control">
      <i class="fas fa-arrow-right"></i>
    </a>
    <a href="" class="top-z-control">
      <i class="fas fa-arrow-down"></i>
    </a>
    <a href="" class="bottom-z-control">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
</div>
