<a href="{{linkUrl}}" class="gallery-link" title="{{title}}" >
    <img src="{{image.src}}" alt="{{image.alt}}" class="gallery-img">
    <h3 class="gallery-name">{{name}}</h3>
    <p class="gallery-description">{{desc}}</p>
</a>
