<section class="footer">
  <div class="footer-text">
    <h2 class="footer-heading">Sign Me Up</h2>
    <p class="footer-p">Be the first to know about our new products</p>
  </div>
  <form class="footer-signup">
    <input
      type="email"
      class="footer-signup-input"
      placeholder="Enter your email"
    />
    <button type="submit" class="footer-signup-btn">
      <i class="fa fa-arrow-right"></i>
    </button>
  </form>
  <p class="copyright">The Weboratory &copy; All Rights Reserved</p>
</section>
