<section class="gallery">
    <h2 class="section-heading">{{gallery.header}}</h2>
    <div class="gallery-images">
        {{#gallery.images}}
        {{> foods/partials/gallery-image}}
        {{/gallery.images}}
    </div>
</section>
