<nav class="navbar target">
    {{#navbar.links}}
        <a class="navbar-link">
            <i class="fas fa-{{icon}}"></i>
            <span>{{span}}</span>
        </a>
    {{/navbar.links}}
</nav>
<div class="menu target"></div>
