<section class="section-2">
    <h1 class="section-heading">{{section2.header}}</h1>
    <div class="cards-container">
        {{#section2.cards}}
        {{> foods/partials/card}}
        {{/section2.cards}}
    </div>
</section>
