<section id="contact" class="section-4">
  <h2 class="section-heading">{{ section4.heading }}</h2>
  <div class="form-container">
    <img
      src="{{ section4.formImage.src }}"
      alt="{{ section4.formImage.alt }}"
      class="form-img"
    />
    <form class="contact-form">
      <input type="text" placeholder="Your Name" />
      <input type="email" placeholder="Your Email" />
      <textarea placeholder="Your message"></textarea>
      <input type="submit" value="send" />
    </form>
  </div>
</section>
