<section id="team" class="section-3">
    <h1 class="section-heading">{{section3.heading}}</h1>
    <div class="cards2-wrapper">
        {{#section3.cards}}
        {{> creative/partials/section3-card}}
        {{/section3.cards}}
    </div>
</section>
