<div id="home" class="section-1">
    {{> creative/navbar}}
    <div class="floating-bg"></div>
    <h1 class="section-1-heading">{{section1.heading}}</h1>
    <div class="logo">
        <i class="fas fa-bezier-curve"></i>
    </div>
</div>
