<section id="customers" class="section-2">
    <h1 class="section-heading">{{section2.heading}}</h1>
    <div class="cards1-wrapper">
        {{#section2.cards}}
            {{> creative/partials/section2-card}}
        {{/section2.cards}}
    </div>
</section>
