<footer class="footer">
  <div class="footer-nav">
    {{#footer.links}}
    <a href="{{ url }}">{{ title }}</a>
    {{/footer.links}}
  </div>
  <p class="copyright">
    Copyright &copy; The Weboratory All Rights Reserved
  </p>
</footer>
