<nav class="navbar">
  <div class="logo">
    <a href="#"> <span>T</span>he<span>W</span>eboratory </a>
  </div>
  <div class="nav-list">
    {{#navbar.links}}
    <a href="{{ url }}" class="nav-link">{{ title }}</a>
    {{/navbar.links}}
  </div>
</nav>

<div class="menu">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
</div>
