<section id="contact" class="section-4">
  <h2 class="section-heading">{{ section4.heading }}</h2>
  <div class="section-heading-line"></div>
  <div class="contact-wrapper">
    <div class="contact-details">
      <div class="phone">
        <i class="fas fa-mobile-alt"></i>
        <h3>Phone</h3>
        <p>{{ section4.phone.line1 }}</p>
        <p>{{ section4.phone.line2 }}</p>
      </div>
      <div class="address">
        <i class="fas fa-map-marker-alt"></i>
        <h3>Address</h3>
        <p>{{ section4.address.line1 }}</p>
        <p>{{ section4.address.line2 }}</p>
      </div>
      <div class="email">
        <i class="far fa-envelope"></i>
        <h3>Email</h3>
        <p>{{ section4.email.line1 }}</p>
        <p>{{ section4.email.line2 }}</p>
      </div>
    </div>
    <h2>Get In Touch</h2>
    <form class="contact-form">
      <input type="text" placeholder="Your Name" />
      <input type="email" placeholder="Your Email" />
      <textarea placeholder="Your Message"></textarea>
      <input type="submit" value="Send Message" />
    </form>
  </div>
</section>
