<section id="aboutus" class="section-2">
  <h1 class="section-heading">{{ section2.heading }}</h1>
  <div class="section-heading-line"></div>
  <div class="video-wrapper">
    <video src="{{section2.video.src}}" class="video" alt="{{section2.video.alt}}"></video>
    <div class="controls">
      <div class="video-bar-wrapper">
          <div class="video-bar"></div>
      </div>
      <div class="buttons">
          <i class="far fa-play-circle"></i>
      </div>
    </div>
  </div>
  <p class="section-2-p">
    <i class="fas fa-quote-left"></i>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sapiente cum, nostrum corporis laboriosam iusto assumenda labore repellat est, voluptatibus rem! Repellendus vitae eum illum quam debitis ipsam, voluptate numquam in ipsum porro provident laboriosam? Iusto dicta omnis expedita blanditiis.
    <i class="fas fa-quote-right"></i>
  </p>
</section>
