<section id="home" class="section-1">
  <div class="banner">
    <h1 class="banner-heading">
      {{#section1.headings}}
      <span class="heading-{{ class }}">{{ heading }}</span>
      {{/section1.headings}}
    </h1>
    <p class="banner-p">
      {{ section1.bannerParagraph }}
    </p>
    <button class="banner-btn">{{ section1.bannerBtn }}</button>
  </div>
</section>
